#profile{
  border-radius: 50px;
  margin-left: 20px;
}body {margin:0;}

.navbar {
  overflow: hidden;
  background-color: #333;
  position: fixed;
  padding: 14px 16px;
  top: 0;
  width: 100%;
}
.navbar2{
  float: right;
  display: block;
  color: #f2f2f2;
  text-align: center;
  text-decoration: none;
  font-size: 17px;
}
.navbar a {
  float: left;
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding-left: 10px;
  padding-right: 35px;
  text-decoration: none;
  font-size: 17px;
}

.navbar2 a {
  float: left;
  display: block;
  color: #f2f2f2;
  text-align: center;
  text-decoration: none;
  font-size: 15px;
}
.more{
  text-align: right;
  text-decoration: none;
  padding-right: 50px;
  font-size: 15px;
}
.devloptxt{
  text-align: right;
  padding-top: 30px;

}
.devloptxt2{
  text-align: right;
  padding-top: 50px;
}
.main {
  padding: 16px;
  margin-top: 30px;
  height: 1500px; /* Used in this example to enable scrolling */
}
